[submodule "bundle/tpope-vim-ragtag"]
	path = bundle/tpope-vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "bundle/tpope-vim-surround"]
	path = bundle/tpope-vim-surround
	url = git://github.com/tpope/vim-surround
[submodule "bundle/tpope-vim-cucumber"]
	path = bundle/tpope-vim-cucumber
	url = git://github.com/tpope/vim-cucumber
[submodule "bundle/tpope-vim-haml"]
	path = bundle/tpope-vim-haml
	url = git://github.com/tpope/vim-haml
[submodule "bundle/reinh-vim-makegreen"]
	path = bundle/reinh-vim-makegreen
	url = git://github.com/reinh/vim-makegreen
[submodule "bundle/altercation-vim-colors-solarized"]
	path = bundle/altercation-vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/airblade-vim-rooter"]
	path = bundle/airblade-vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "bundle/tpope-vim-fugitive"]
	path = bundle/tpope-vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/scrooloose-syntastic"]
	path = bundle/scrooloose-syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tpope-vim-endwise"]
	path = bundle/tpope-vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/marijnh-tern_for_vim"]
	path = bundle/marijnh-tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "bundle/godlygeek-tabular"]
	path = bundle/godlygeek-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/atweiden-vim-betterdigraphs"]
	path = bundle/atweiden-vim-betterdigraphs
	url = https://github.com/atweiden/vim-betterdigraphs.git
[submodule "bundle/digitaltoad-vim-jade"]
	path = bundle/digitaltoad-vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/tpope-vim-dispatch"]
	path = bundle/tpope-vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "bundle/Shougo-unit.vim"]
	path = bundle/Shougo-unit.vim
	url = git@github.com:Shougo/unite.vim
[submodule "bundle/Shougo-vimproc"]
	path = bundle/Shougo-vimproc
	url = git@github.com:Shougo/vimproc
[submodule "bundle/osyo-manga-unite-quickfix"]
	path = bundle/osyo-manga-unite-quickfix
	url = git@github.com:osyo-manga/unite-quickfix
[submodule "bundle/junegunn-vim-github-dashboard"]
	path = bundle/junegunn-vim-github-dashboard
	url = git@github.com:junegunn/vim-github-dashboard
[submodule "bundle/janko-m-vim-test"]
	path = bundle/janko-m-vim-test
	url = git@github.com:janko-m/vim-test
[submodule "bundle/vim-utils-vim-most-minimal-folds"]
	path = bundle/vim-utils-vim-most-minimal-folds
	url = git://github.com/bruno-/vim-most-minimal-folds.git
[submodule "bundle/pangloss-vim-javascript"]
	path = bundle/pangloss-vim-javascript
	url = git://github.com/pangloss/vim-javascript
[submodule "bundle/mxw-vim-jsx"]
	path = bundle/mxw-vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/tpope-vim-unimpaired"]
	path = bundle/tpope-vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
