[submodule "bundle/tpope-vim-ragtag"]
	path = bundle/tpope-vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/tpope-vim-surround"]
	path = bundle/tpope-vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/tpope-vim-cucumber"]
	path = bundle/tpope-vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "bundle/tpope-vim-haml"]
	path = bundle/tpope-vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "bundle/reinh-vim-makegreen"]
	path = bundle/reinh-vim-makegreen
	url = https://github.com/reinh/vim-makegreen.git
[submodule "bundle/altercation-vim-colors-solarized"]
	path = bundle/altercation-vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/airblade-vim-rooter"]
	path = bundle/airblade-vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "bundle/tpope-vim-fugitive"]
	path = bundle/tpope-vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/scrooloose-syntastic"]
	path = bundle/scrooloose-syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tpope-vim-endwise"]
	path = bundle/tpope-vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/godlygeek-tabular"]
	path = bundle/godlygeek-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/atweiden-vim-betterdigraphs"]
	path = bundle/atweiden-vim-betterdigraphs
	url = https://github.com/atweiden/vim-betterdigraphs.git
[submodule "bundle/digitaltoad-vim-jade"]
	path = bundle/digitaltoad-vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/tpope-vim-dispatch"]
	path = bundle/tpope-vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/Shougo-unit.vim"]
	path = bundle/Shougo-unit.vim
	url = https://github.com/Shougo/unite.vim
[submodule "bundle/Shougo-vimproc"]
	path = bundle/Shougo-vimproc
	url = https://github.com/Shougo/vimproc
[submodule "bundle/osyo-manga-unite-quickfix"]
	path = bundle/osyo-manga-unite-quickfix
	url = https://github.com/osyo-manga/unite-quickfix
[submodule "bundle/junegunn-vim-github-dashboard"]
	path = bundle/junegunn-vim-github-dashboard
	url = https://github.com/junegunn/vim-github-dashboard
[submodule "bundle/janko-m-vim-test"]
	path = bundle/janko-m-vim-test
	url = https://github.com/janko-m/vim-test
[submodule "bundle/vim-utils-vim-most-minimal-folds"]
	path = bundle/vim-utils-vim-most-minimal-folds
	url = https://github.com/bruno-/vim-most-minimal-folds.git
[submodule "bundle/pangloss-vim-javascript"]
	path = bundle/pangloss-vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/mxw-vim-jsx"]
	path = bundle/mxw-vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/qpkorr-vim-bufkill"]
	path = bundle/qpkorr-vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule "bundle/tpope-vim-unimpaired"]
	path = bundle/tpope-vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/ludovicchabant-vim-gutentags"]
	path = bundle/ludovicchabant-vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "bundle/jreybert-vimagit"]
	path = bundle/jreybert-vimagit
	url = https://github.com/jreybert/vimagit
[submodule "bundle/garbas_vim-snipmate"]
	path = bundle/garbas_vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/marcweber_vim-addon-mw-utils"]
	path = bundle/marcweber_vim-addon-mw-utils
	url = https://github.com/marcweber/vim-addon-mw-utils.git
[submodule "bundle/tomtom_tlib_vim"]
	path = bundle/tomtom_tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "bundle/leafgarland-typescript-vim"]
	path = bundle/leafgarland-typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/editorconfig-editorconfig-vim"]
	path = bundle/editorconfig-editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/preservim_nerdtree"]
	path = bundle/preservim_nerdtree
	url = https://github.com/preservim/nerdtree.git
